# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Django
*.log
local_settings.py
db.sqlite3
desktop.ini

# Static/Media
backend/staticfiles/
backend/media/

# Node
node_modules/
dist/
build/
.DS_Store

# Editor
.vscode/
.idea/
